
<form class="m-form" th:fragment="new-operation-form" target="noTarget">
	<div class="m-portlet__body">
		<div class="form-group m-form__group">
			<label for="">Select project:</label> <select
				id="select_project_new_operation"
				class="form-control m-bootstrap-select m_selectpicker"
				data-live-search="true">
			</select>
			<div id="operation_project_error" class="form-control-feedback"
				style="color: red; float: right; display: none;">Please select
				a project</div>

		</div>
		<div class="m-form__group form-group">
			<label for="">Operation name:</label> <input type="text"
				class="form-control m-input" id="operation_name"
				placeholder="Operation Name">
			<div id="operation_name_error" class="form-control-feedback"
				style="color: red; float: right; display: none;">Please enter
				a valid operation name</div>

		</div>
		<div class="m-form__group form-group">

			<div class="form-group m-form__group row">
				<div class="col-lg-6">
					<label for="">Start Date</label>
					<div class="input-group date">
						<input type="text" class="form-control m-input"
							placeholder="Start date" id="m_datepicker_4_3">
						<div class="input-group-append">
							<span class="input-group-text"> <i
								class="la la-calendar-check-o"></i>
							</span>
						</div>
					</div>
					<div id="operation_startDate_error" class="form-control-feedback"
						style="color: red; float: right; display: none;">* required</div>

				</div>


				<div class="col-lg-6">
					<label for="">End Date</label>
					<div class="input-group date">

						<input type="text" class="form-control m-input"
							placeholder="End date" id="m_datepicker_4_4">
						<div class="input-group-append">
							<span class="input-group-text"> <i
								class="la la-calendar-check-o"></i>
							</span>
						</div>
					</div>
					<div id="operation_endDate_error" class="form-control-feedback"
						style="color: red; float: right; display: none;">* required</div>
				</div>




			</div>
		</div>
		<div class="m-form__group form-group">
			<label for="">Who is responsible ?</label> <input type="text"
				class="form-control m-input" id="exampleInputEmail1"
				aria-describedby="emailHelp" placeholder="Select user">
		</div>

		
	</div>

	<div class="m-portlet__foot m-portlet__foot--fit">
		<div class="m-form__actions m-form__actions--right">
			<div class="row">
				<div class="col m--align-left">
					<button onclick="doAddOperationAjaxPost()" class="btn btn-brand">Add</button>
				</div>
				<div class="col m--align-right">
					<button type="reset" class="btn btn-secondary">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</form>


