<div class="m-content" data-th-fragment="home-main-content">
	<!--Begin::Section-->
	<div class="row">
		<!--begin:: Widgets/My Overview-->
		<div class="col-xl-6">

			<div
				class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light  m-portlet--rounded-force">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text m--font-light">Overview</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li
								class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
								data-dropdown-toggle="hover"><a href="#"
								class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl">
									<i class="fa fa-genderless m--font-light"></i>
							</a>
								<div class="m-dropdown__wrapper">
									<span
										class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav">
													<li class="m-nav__section m-nav__section--first"><span
														class="m-nav__section-text">Quick Actions</span></li>
													<li class="m-nav__item"><a href="#"
														class="m-nav__link"> <i
															class="m-nav__link-icon flaticon-share"></i> <span
															class="m-nav__link-text">Activity</span>
													</a></li>
													<li class="m-nav__item"><a href="#"
														class="m-nav__link"> <i
															class="m-nav__link-icon flaticon-chat-1"></i> <span
															class="m-nav__link-text">Messages</span>
													</a></li>
													<li class="m-nav__item"><a href="#"
														class="m-nav__link"> <i
															class="m-nav__link-icon flaticon-info"></i> <span
															class="m-nav__link-text">FAQ</span>
													</a></li>
													<li class="m-nav__item"><a href="#"
														class="m-nav__link"> <i
															class="m-nav__link-icon flaticon-lifebuoy"></i> <span
															class="m-nav__link-text">Support</span>
													</a></li>
													<li class="m-nav__separator m-nav__separator--fit"></li>
													<li class="m-nav__item"><a href="#"
														class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Cancel</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div></li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-widget17">
						<div
							class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--bottom m-portlet-fit--sides m--bg-info">
							<div class="m-widget17__chart" style="height: 320px;">
								<div class="chartjs-size-monitor"
									style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
									<div class="chartjs-size-monitor-expand"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
									</div>
									<div class="chartjs-size-monitor-shrink"
										style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
										<div
											style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
									</div>
								</div>
								<canvas id="m_chart_activities" width="865" height="216"
									class="chartjs-render-monitor"
									style="display: block; width: 865px; height: 216px;"></canvas>
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
		<!--end:: Widgets/My Overview-->
		<div class="col-xl-6">
			<div class="m-portlet m-portlet--full-height ">
				<div class="m-portlet__head">
					<div style="width: 50%" class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Tasks</h3>
						</div>
					</div>
					<div style="width: 50%; position: absolute; left: 85%; top: 17px;">
						<button type="button" class="btn btn-outline-brand btn-sm">
							All Tasks</button>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="tab-content">
						<div class="tab-pane active" id="m_widget2_tab1_content">
							<div class="m-widget2">
								<div th:each="task : ${tasks}">
									<div th:if="${task.status} == ${TASK_STATUS_COMPLETED}" class="m-widget2__item m-widget2__item--success">
										<div class="m-widget2__checkbox">
										</div>
										<div class="m-widget2__desc">
											<span th:text="${task.name}" class="m-widget2__text">
											</span><br> <span th:text="${task.endDate}"
												class="m-widget2__user-name"> </span>
										</div>
									</div>
									<div th:if="${task.status} == ${TASK_STATUS_ONGOING}" class="m-widget2__item m-widget2__item--brand">
										<div class="m-widget2__checkbox">
										</div>
										<div class="m-widget2__desc">
											<span th:text="${task.name}" class="m-widget2__text">
											</span><br> <span th:text="${task.endDate}"
												class="m-widget2__user-name"> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="m_widget2_tab2_content"></div>
						<div class="tab-pane" id="m_widget2_tab3_content"></div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<!--begin:: Widgets/My Overdue Work Items-->
		<div class="col-xl-4">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Work Items Due Today</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-loader m-loader--brand"
							style="position: absolute; left: 0; top: 50%; width: 100%;"></div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>

		<!--end:: Widgets/My work items due today-->
		<!--begin:: Widgets/My work items due today-->
		<div class="col-xl-4">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Overdue Work Items</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-loader m-loader--brand"
							style="position: absolute; left: 0; top: 50%; width: 100%;"></div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>

		<!--end:: Widgets/My Overdue Work Items-->

		<!--begin:: Widgets/My Issues-->
		<div class="col-xl-4">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Issues</h3>
						</div>
					</div>
					<div style="width: 50%; position: absolute; left: 72%; top: 17px;">
						<button type="button" class="btn btn-outline-brand btn-sm">
							View More</button>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-loader m-loader--brand"
							style="position: absolute; left: 0; top: 50%; width: 100%;"></div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>

		<!--end:: Widgets/My Issues-->

	</div>
	<!--End::Section-->



	<!--Begin::Section-->
	<div class="row">
		<div class="col-xl-12">
			<!--begin::Portlet-->
			<div class="m-portlet " id="m_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon"> <i
								class="flaticon-map-location"></i>
							</span>
							<h3 class="m-portlet__head-text">Calendar</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item"><a href="#"
								class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air">
									<span> <i class="la la-plus"></i> <span>Add Event</span>
								</span>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="m_calendar"></div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
	<!--End::Section-->








</div>
