<div class="m-content" data-th-fragment="home-main-content">
	<!--Begin::Section-->
	<div class="row">
		<!--begin:: Widgets/My Overview-->
		<div class="col-xl-6">

			<div
				style="background: #36a3f7;" class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--rounded-force">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text  m--font-light">My Overview</h3>
						</div>
					</div>

				</div>
				<div class="m-portlet__body" >
					<div class="profilechartwrapper" style="margin-left: -18px !important;margin-right: 0px;width:120% !important;height: 115%;">
						<div class="profilechartdiv" id="user_overview"></div>
					</div>
				</div>
			</div>
		</div>
		<!--end:: Widgets/My Overview-->
		<div class="col-xl-6">
			<div class="m-portlet m-portlet--full-height ">
				<div class="m-portlet__head">
					<div style="width: 50%" class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Tasks</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<a th:href="${'/profile?id='+ sessionUser.id+'#my-tasks'}"
							class="btn m-btn--square btn-info btn-sm "> View More</a>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<!-- 					<div class="tab-content"> -->
					<!-- 						<div class="tab-pane active" id="m_widget2_tab1_content"> -->
					<div th:if="${not #lists.isEmpty(tasks)}" class="m-widget2">
						<div
							style="background: #f9f9f9; padding: 5px 0 5px 0; border-radius: 1px; margin-bottom: 5px;"
							th:each="task : ${tasks}"
							th:onclick="${'handleNotificationClick('+ task.id +')'}">
							<div th:if="${task.status} == ${TASK_STATUS_COMPLETED}"
								style="margin-bottom: 2px;"
								class="m-widget2__item m-widget2__item--danger">
								<div class="m-widget2__checkbox"></div>
								<div class="m-widget2__desc">
									<span th:text="${task.name}" class="m-widget2__text"> </span> <span
										style="width: 20%; height: 20px; padding: 5px 0 0 0;"
										class="badge badge-danger pull-right">Closed</span> <br>
									<small><span
										th:text="${'Due date: '+ #dates.format(task.endDate, 'dd-MM-yyyy')}"
										class="m-widget2__user-name"> </span></small>

								</div>
							</div>
							<div th:if="${task.status} == ${TASK_STATUS_ONGOING}"
								style="margin-bottom: 0;"
								class="m-widget2__item m-widget2__item--success">
								<div class="m-widget2__checkbox"></div>
								<div class="m-widget2__desc">
									<span th:text="${task.name}" class="m-widget2__text"> </span> <span
										style="width: 20%; height: 20px; padding: 5px 0 0 0;"
										class="badge badge-success pull-right">Open</span> <br> <small><span
										th:text="${'Due date: '+ #dates.format(task.endDate, 'dd-MM-yyyy')}"
										class="m-widget2__user-name"> </span></small>
								</div>
							</div>
						</div>
					</div>

					<div th:if="${#lists.isEmpty(tasks)}" class="m-widget24__item">
						<div>
							<div style="display: block; vertical-align: middle;">
								<table width="100%" align="center" border="0" cellpadding="0"
									cellspacing="0">
									<tbody>
										<tr>
											<td align="center"><div
													style="border-color: #e6e6e6 !important;"
													class="emptydashboardbox omnia fonticon40">
													<div class="m-demo-icon__preview">
														<i style="color: #e6e6e6; font-size: 40px;"
															class="flaticon-tool"></i>
													</div>
												</div></td>
										</tr>
										<tr>
											<td align="center" height="110px">
												<div>
													<span style="color: #a6a6a6;" class="col777 pt12 lh25">Nothing
														to show here</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>


	</div>

	<div class="row">
		<!--begin:: Widgets/My Overdue Work Items-->
		<div class="col-xl-4">
			<div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--rounded-force">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Work Items Due Today</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div th:if="${not #lists.isEmpty(itemsDueToday)}"
							class="m-widget2">
							<div
								style="background: #f9f9f9; padding: 5px 0 5px 0; border-radius: 1px; margin-bottom: 5px;"
								th:each="item : ${itemsDueToday}">
								<div th:if="${item.nature == 'task'}"
									th:onclick="${'handleNotificationClick('+ item.id +')'}">
									<div style="margin-bottom: 2px;"
										class="m-widget2__item m-widget2__item--info">
										<div class="m-widget2__checkbox"></div>
										<div class="m-widget2__desc">
											<span th:text="${item.name}" class="m-widget2__text">
											</span> <span style="width: 20%; height: 20px; padding: 5px 0 0 0;"
												class="badge badge-info pull-right">Task</span> <br> <small><span
												th:text="${'Due date: '+ #dates.format(item.endDate, 'dd-MM-yyyy')}"
												class="m-widget2__user-name"> </span></small>

										</div>
									</div>

								</div>
								<div th:if="${item.nature == 'issue'}"
									th:onclick="${'handleIssueNotificationClick('+ item.id +')'}">
									<div style="margin-bottom: 2px;"
										class="m-widget2__item m-widget2__item--danger">
										<div class="m-widget2__checkbox"></div>
										<div class="m-widget2__desc">
											<span th:text="${item.name}" class="m-widget2__text">
											</span> <span style="width: 20%; height: 20px; padding: 5px 0 0 0;"
												class="badge badge-danger pull-right">Issue</span> <br>
											<small><span
												th:text="${'Due date: '+ #dates.format(item.endDate, 'dd-MM-yyyy')}"
												class="m-widget2__user-name"> </span></small>

										</div>
									</div>

								</div>

							</div>
						</div>
						<div th:if="${#lists.isEmpty(itemsDueToday)}"
							class="m-widget24__item">
							<div>
								<div style="display: block; vertical-align: middle;">
									<table width="100%" align="center" border="0" cellpadding="0"
										cellspacing="0">
										<tbody>
											<tr>
												<td align="center"><div
														style="border-color: #e6e6e6 !important;"
														class="emptydashboardbox omnia fonticon40">
														<div class="m-demo-icon__preview">
															<i style="color: #e6e6e6; font-size: 40px;"
																class="flaticon-tool"></i>
														</div>
													</div></td>
											</tr>
											<tr>
												<td align="center" height="110px">
													<div>
														<span style="color: #a6a6a6;" class="col777 pt12 lh25">Nothing
															to show here</span>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>

		<!--end:: Widgets/My work items due today-->
		<!--begin:: Widgets/My work items due today-->
		<div class="col-xl-4">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Overdue Work Items</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<a data-toggle="modal" data-target="#modal_overdue_items"
							onclick="populateModalOverdueItems()"
							class="btn m-btn--square btn-info btn-sm "> View More</a>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div th:if="${not #lists.isEmpty(overdueItems)}" class="m-widget2">
						<div
							style="background: #f9f9f9; padding: 5px 0 5px 0; border-radius: 1px; margin-bottom: 5px;"
							th:each="item : ${overdueItems}">
							<div th:if="${item.nature == 'task'}"
								th:onclick="${'handleNotificationClick('+ item.id +')'}">
								<div style="margin-bottom: 2px;"
									class="m-widget2__item m-widget2__item--info">
									<div class="m-widget2__checkbox"></div>
									<div class="m-widget2__desc">
										<span th:text="${item.name}" class="m-widget2__text"> </span>
										<span style="width: 20%; height: 20px; padding: 5px 0 0 0;"
											class="badge badge-info pull-right">Task</span> <br> <small><span
											th:text="${'Due date: '+ #dates.format(item.endDate, 'dd-MM-yyyy')}"
											class="m-widget2__user-name"> </span></small>

									</div>
								</div>

							</div>
							<div th:if="${item.nature == 'issue'}"
								th:onclick="${'handleIssueNotificationClick('+ item.id +')'}">
								<div style="margin-bottom: 2px;"
									class="m-widget2__item m-widget2__item--danger">
									<div class="m-widget2__checkbox"></div>
									<div class="m-widget2__desc">
										<span th:text="${item.name}" class="m-widget2__text"> </span>
										<span style="width: 20%; height: 20px; padding: 5px 0 0 0;"
											class="badge badge-danger pull-right">Issue</span> <br>
										<small><span
											th:text="${'Due date: '+ #dates.format(item.endDate, 'dd-MM-yyyy')}"
											class="m-widget2__user-name"> </span></small>

									</div>
								</div>

							</div>

						</div>
					</div>

					<div th:if="${#lists.isEmpty(overdueItems)}"
						class="m-widget24__item">
						<div>
							<div style="display: block; vertical-align: middle;">
								<table width="100%" align="center" border="0" cellpadding="0"
									cellspacing="0">
									<tbody>
										<tr>
											<td align="center"><div
													style="border-color: #e6e6e6 !important;"
													class="emptydashboardbox omnia fonticon40">
													<div class="m-demo-icon__preview">
														<i style="color: #e6e6e6; font-size: 40px;"
															class="flaticon-tool"></i>
													</div>
												</div></td>
										</tr>
										<tr>
											<td align="center" height="110px">
												<div>
													<span style="color: #a6a6a6;" class="col777 pt12 lh25">Nothing
														to show here</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>

		<!--end:: Widgets/My Overdue Work Items-->

		<!--begin:: Widgets/My Issues-->
		<div class="col-xl-4">
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">My Issues</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<a th:href="${'/profile?id='+ sessionUser.id+'#my-issues'}"
							class="btn m-btn--square btn-info btn-sm "> View More</a>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div th:if="${not #lists.isEmpty(issues)}" class="m-widget2">
						<div
							style="background: #f9f9f9; padding: 5px 0 5px 0; border-radius: 1px; margin-bottom: 5px;"
							th:each="issue : ${issues}"
							th:onclick="${'handleIssueNotificationClick('+ issue.id +')'}">
							<div th:if="${issue.status} == ${ISSUE_STATUS_OPEN}"
								style="margin-bottom: 2px;"
								class="m-widget2__item m-widget2__item--info">
								<div class="m-widget2__checkbox"></div>
								<div class="m-widget2__desc">
									<span th:text="${issue.name}" class="m-widget2__text"> </span>
									<span style="width: 25%; height: 20px; padding: 5px 0 0 0;"
										class="badge badge-info pull-right">Open</span> <br> <small><span
										th:text="${'Due date: '+ #dates.format(issue.endDate, 'dd-MM-yyyy')}"
										class="m-widget2__user-name"> </span></small>

								</div>
							</div>
							<div th:if="${issue.status} == ${ISSUE_STATUS_IN_PROGRESS}"
								style="margin-bottom: 0;"
								class="m-widget2__item m-widget2__item--warning">
								<div class="m-widget2__checkbox"></div>
								<div class="m-widget2__desc">
									<span th:text="${issue.name}" class="m-widget2__text"> </span>
									<span style="width: 25%; height: 20px; padding: 5px 0 0 0;"
										class="badge badge-warning pull-right">In progress</span> <br>
									<small><span
										th:text="${'Due date: '+ #dates.format(issue.endDate, 'dd-MM-yyyy')}"
										class="m-widget2__user-name"> </span></small>
								</div>
							</div>
							<div th:if="${issue.status} == ${ISSUE_STATUS_TO_BE_TESTED}"
								style="margin-bottom: 0;"
								class="m-widget2__item m-widget2__item--success">
								<div class="m-widget2__checkbox"></div>
								<div class="m-widget2__desc">
									<span th:text="${issue.name}" class="m-widget2__text"> </span>
									<span style="width: 25%; height: 20px; padding: 5px 0 0 0;"
										class="badge badge-success pull-right">To be tested</span> <br>
									<small><span
										th:text="${'Due date: '+ #dates.format(issue.endDate, 'dd-MM-yyyy')}"
										class="m-widget2__user-name"> </span></small>
								</div>
							</div>
							<div th:if="${issue.status} == ${ISSUE_STATUS_CLOSED}"
								style="margin-bottom: 0;"
								class="m-widget2__item m-widget2__item--danger">
								<div class="m-widget2__checkbox"></div>
								<div class="m-widget2__desc">
									<span th:text="${issue.name}" class="m-widget2__text"> </span>
									<span style="width: 25%; height: 20px; padding: 5px 0 0 0;"
										class="badge badge-danger pull-right">Closed</span> <br>
									<small><span
										th:text="${'Due date: '+ #dates.format(issue.endDate, 'dd-MM-yyyy')}"
										class="m-widget2__user-name"> </span></small>
								</div>
							</div>
						</div>
					</div>

					<div th:if="${#lists.isEmpty(issues)}" class="m-widget24__item">
						<div>
							<div style="display: block; vertical-align: middle;">
								<table width="100%" align="center" border="0" cellpadding="0"
									cellspacing="0">
									<tbody>
										<tr>
											<td align="center"><div
													style="border-color: #e6e6e6 !important;"
													class="emptydashboardbox omnia fonticon40">
													<div class="m-demo-icon__preview">
														<i style="color: #e6e6e6; font-size: 40px;"
															class="flaticon-tool"></i>
													</div>
												</div></td>
										</tr>
										<tr>
											<td align="center" height="110px">
												<div>
													<span style="color: #a6a6a6;" class="col777 pt12 lh25">Nothing
														to show here</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--end::Section-->

				</div>
			</div>
		</div>

		<!--end:: Widgets/My Issues-->

	</div>
	<!--End::Section-->



	<!--Begin::Section-->
	<div class="row">
		<div class="col-xl-12">
			<!--begin::Portlet-->
			<div class="m-portlet " id="m_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon"> <i
								class="flaticon-map-location"></i>
							</span>
							<h3 class="m-portlet__head-text">Calendar</h3>
						</div>
					</div>
<!-- 					<div class="m-portlet__head-tools"> -->
<!-- 						<ul class="m-portlet__nav"> -->
<!-- 							<li class="m-portlet__nav-item"><a href="#" -->
<!-- 								class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"> -->
<!-- 									<span> <i class="la la-plus"></i> <span>Add Event</span> -->
<!-- 								</span> -->
<!-- 							</a></li> -->
<!-- 						</ul> -->
<!-- 					</div> -->
				</div>
				<div class="m-portlet__body">
					<div id="user_calendar">
		</div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
	<!--End::Section-->


	<div
		th:replace="fragments/modal-fragments/fragment-overdue-items-modal :: overdue-items-modal"></div>






</div>
