<!-- begin::Quick Sidebar -->
<div data-th-fragment="quick-sidebar-add" id="m_quick_sidebar_add"
	style="background: #f1f1f1"
	class="m-quick-sidebar-add m-quick-sidebar-add--tabbed m-quick-sidebar-add--skin-light">

	<div class="m-quick-sidebar-add__content m--hide">
		<span id="m_quick_sidebar_add_close"
			class="m-quick-sidebar-add__close"><i class="la la-close"></i></span>
		<ul id="m_quick_sidebar_add_tabs"
			class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand"
			role="tablist">
			<li class="nav-item m-tabs__item"><a
				id="quick_sidebar_new_operation_nav"
				class="nav-link m-tabs__link active" data-toggle="tab"
				href="#m_quick_sidebar_add_tabs_new_operation" role="tab">New
					Operation</a></li>
			<li  class="nav-item m-tabs__item"><a
				id="quick_sidebar_new_service_nav" class="nav-link m-tabs__link"
				data-toggle="tab" href="#m_quick_sidebar_add_tabs_new_service"
				role="tab">New Service</a></li>

			<li  class="nav-item m-tabs__item"><a
				id="quick_sidebar_new_task_nav"
				class="nav-link m-tabs__link" data-toggle="tab"
				href="#m_quick_sidebar_add_tabs_new_task" role="tab">New Task</a></li>
				
				<li style="display:none;" class="nav-item m-tabs__item"><a
				id="quick_sidebar_edit_operation_nav"
				class="nav-link m-tabs__link active" data-toggle="tab"
				href="#m_quick_sidebar_add_tabs_edit_operation" role="tab">Edit
					Operation</a></li>
		</ul>
		<div id="quick_sidebar_add_tabs_content" class="tab-content">
			<div class="tab-pane m-scrollable"
				id="m_quick_sidebar_add_tabs_new_task" role="tabpanel">

				<!--begin::Form New Task-->
				<form
					th:replace="fragments/form-fragments/fragment-new-task-form :: new-task-form">
				</form>

				<!--end::Form New Task-->

			</div>

			<div  class="tab-pane  m-scrollable"
				id="m_quick_sidebar_add_tabs_new_service" role="tabpanel">

				<!--begin::Form New Service-->

				<form
					th:replace="fragments/form-fragments/fragment-new-service-form :: new-service-form">
				</form>
				<!--end::Form New Service-->

			</div>

			<div class="tab-pane active m-scrollable"
				id="m_quick_sidebar_add_tabs_new_operation" role="tabpanel">

				<!--begin::Form New Operation-->
				<form
					th:replace="fragments/form-fragments/fragment-new-operation-form :: new-operation-form">
				</form>

				<!--end::Form New Operation-->

			</div>
			
			<div style="display:none;" class="tab-pane active m-scrollable"
				id="m_quick_sidebar_add_tabs_edit_operation" role="tabpanel">

				<!--begin::Form New Operation-->
				<form
					th:replace="fragments/form-fragments/fragment-edit-operation-form :: edit-operation-form">
				</form>

				<!--end::Form New Operation-->

			</div>
		</div>
	</div>
</div>
<!-- end::Quick Sidebar -->

