<!-- begin::Edit Service Sidebar -->
<div th:fragment="service-edit-sidebar"
	class="m_service_edit_sidebar m-service-edit-sidebar m-service-edit-sidebar--tabbed m-service-edit-sidebar--skin-dark">

	<div class="m-service-edit-sidebar__content m--hide">

		<span id="m_service_edit_sidebar_close"
			class="m-service-edit-sidebar__close"><i class="la la-close"></i></span>

		<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand"
			role="tablist">
			<li class="nav-item m-tabs__item"><a
				class="nav-link m-tabs__link active" data-toggle="tab" href=""
				role="tab">Edit Service</a></li>
		</ul>

		<!--begin::Form Edit Service-->
		<form th:replace="fragments/form-fragments/fragment-edit-service-form :: edit-service-form"></form>

		<!--end::Form Edit Service-->
	</div>
	<iframe width="0" height="0" border="0" name="noTarget" id="noTarget"></iframe>




</div>


<!-- end::Edit Service Sidebar -->