<div class="m-content" th:fragment="clients-content">

	<div class="row">
		<div id="clients_container_even_row" class="col-lg-6"></div>
		<div id="clients_container_odd_row" class="col-lg-6"></div>
	</div>

	<div
		th:replace="fragments/modal-fragments/fragment-new-site-modal :: new-site-modal"></div>
	<div
		th:replace="fragments/modal-fragments/fragment-nature-modal :: nature-modal"></div>
	<div
		th:replace="fragments/modal-fragments/fragment-new-nature-modal :: new-nature-modal"></div>
</div>
