<header id="general-header" class="m-grid__item    m-header "
	data-minimize-offset="200" data-minimize-mobile-offset="200"
	data-th-fragment="header-general">


	<div class="m-container m-container--fluid m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="m-stack__item m-brand  m-brand--skin-light ">

				<div class="m-stack m-stack--ver m-stack--general">
					<div
						class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo">
						<a href="/home" class="m-brand__logo-wrapper"> <img alt=""
							src="assets/images/omniapp_logo.png">
						</a>
					</div>
				</div>


			</div>
			<!-- END: Brand -->
			<div class="m-stack__item m-stack__item--fluid m-header-head"
				id="m_header_nav">
				<!-- BEGIN: Horizontal Menu -->
				<button
					class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark "
					id="m_aside_header_menu_mobile_close_btn">
					<i class="la la-close"></i>
				</button>

				<div id="m_header_menu"
					class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark  ">
					<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
						<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
							data-menu-submenu-toggle="click" aria-haspopup="true"
							data-redirect="true"><a class="m-menu__link m-menu__toggle"><span
								class="m-menu__link-text">Projects</span><i
								class="m-menu__hor-arrow la la-angle-down"></i><i
								class="m-menu__ver-arrow la la-angle-right"></i></a>
							<div
								class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
								<span class="m-menu__arrow m-menu__arrow--adjust"></span>
								<ul class="m-menu__subnav">
									<li
										th:if="${sessionUser.role.name == 'ADMIN' || sessionUser.role.name == 'PM'}"
										id="m_new_project_sidebar_toggle" class="m-menu__item "
										aria-haspopup="true"><a href="#" class="m-menu__link "><i
											class="m-menu__link-icon flaticon-add"></i><span
											class="m-menu__link-text">New Project</span></a></li>
									<li class="m-menu__item " aria-haspopup="true"><a
										href="/all-projects" class="m-menu__link "><i
											class="m-menu__link-icon flaticon-list-3"></i><span
											class="m-menu__link-text">All Projects</span></a></li>
								</ul>
							</div></li>

					</ul>
				</div>
				<!-- END: Horizontal Menu -->
				<!-- BEGIN: Topbar -->
				<div id="m_header_topbar"
					class="m-topbar  m-stack m-stack--ver m-stack--general">


					<div class="m-stack__item m-topbar__nav-wrapper">
						<ul class="m-topbar__nav m-nav m-nav--inline">


							<li th:if="${sessionUser.role.name == 'ADMIN'}"
								class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
								data-dropdown-toggle="click" aria-expanded="true"><a
								title="Manager" href="#" class="m-nav__link m-dropdown__toggle">
									<span
									class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
									<span class="m-nav__link-icon"><i
										class="flaticon-interface-6"></i></span>
							</a>
								<div class="m-dropdown__wrapper">
									<span
										class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
										style="left: auto; right: 29.5px;"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__header m--align-center"
											style="background: url(assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
											<span class="m-dropdown__header-title">Manager</span>
										</div>
										<div class="m-dropdown__body m-dropdown__body--paddingless">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="false"
													data-max-height="380" data-mobile-max-height="200">
													<div class="m-nav-grid m-nav-grid--skin-light">
														<div class="m-nav-grid__row">
															<a href="/clients" class="m-nav-grid__item"> <i
																class="m-nav-grid__icon flaticon-user"></i> <span
																class="m-nav-grid__text">Clients</span>
															</a> <a href="/boqs" class="m-nav-grid__item"> <i
																class="m-nav-grid__icon flaticon-list"></i> <span
																class="m-nav-grid__text">BOQs</span>
															</a>
														</div>
														<div class="m-nav-grid__row">
															<a href="/service-templates" class="m-nav-grid__item">
																<i class="m-nav-grid__icon flaticon-layers"></i> <span
																class="m-nav-grid__text">Service Templates</span>
															</a> <a href="/users" class="m-nav-grid__item"> <i
																class="m-nav-grid__icon flaticon-user"></i> <span
																class="m-nav-grid__text">Users</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div></li>


							<li
								class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
								data-dropdown-toggle="click" data-dropdown-persistent="true">
								<a onclick="handleNotificationToggle()" href="#"
								class="m-nav__link m-dropdown__toggle"
								id="m_topbar_notification_icon"> <span
									th:if="${not #lists.isEmpty(unseenNotifications)}"
									class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
									<span th:if="${not #lists.isEmpty(unseenNotifications)}"
									class="m-nav__link-icon m-animate-shake"><i
										class="flaticon-music-2"></i></span> <span
									th:if="${#lists.isEmpty(unseenNotifications)}"
									class="m-nav__link-icon"><i class="flaticon-music-2"></i></span>
							</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__header m--align-center"
											style="background: url(assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
											<span th:text="${unseenNotifications.size()}"
												class="m-dropdown__header-title">9</span> <span
												class="m-dropdown__header-subtitle">New Notifications</span>
										</div>
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<div class="m-scrollable" data-scrollable="true"
													data-max-height="250" data-mobile-max-height="200">
													<div class="m-list-timeline m-list-timeline--skin-light">
														<div class="m-list-timeline__items">
															<div th:each="notification : ${notifications}"
																class="m-list-timeline__item" style="cursor: pointer;">

																<span
																	class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>

																<a th:if="${notification.project != null}"
																	th:href="'/project?id=' + ${notification.project.id}"
																	class="m-list-timeline__text"> <span
																	th:text="${notification.message}"></span> <span
																	th:if="${!notification.isRead}"
																	class="m-badge m-badge--danger m-badge--wide">New</span>
																</a> <span th:if="${notification.task != null}"
																	th:onclick="'handleNotificationClick(\'' + ${notification.task.id} + '\');'"
																	class="m-list-timeline__text"> <span
																	th:text="${notification.message}"></span> <span
																	th:if="${!notification.isRead}"
																	class="m-badge m-badge--danger m-badge--wide">New</span>
																</span> <span th:if="${notification.issue != null}"
																	th:onclick="'handleIssueNotificationClick(\'' + ${notification.issue.id} + '\');'"
																	class="m-list-timeline__text"> <span
																	th:text="${notification.message}"></span> <span
																	th:if="${!notification.isRead}"
																	class="m-badge m-badge--danger m-badge--wide">New</span>
																</span> <span style="text-align: center;"
																	th:text="${notification.createdAtPretty}"
																	class="m-list-timeline__time">Just now</span>

															</div>







														</div>
													</div>
												</div>


											</div>
										</div>
									</div>
								</div>
							</li>

							<li
								th:if="${sessionUser.role.name == 'ADMIN' || sessionUser.role.name == 'PROJECT_MANAGER'}"
								onclick="populateSidebarAdd()" id="m_quick_sidebar_add_toggle"
								class="m-nav__item"><a href="#"
								class="m-nav__link m-dropdown__toggle"> <span
									class="m-nav__link-icon"><i class="flaticon-plus"></i></span>
							</a></li>

							<li
								class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
								data-dropdown-toggle="click"><a href="#"
								class="m-nav__link m-dropdown__toggle"> <span
									class="m-topbar__userpic"> <img
										style="height: 41px; width: 41px;"
										th:if="${sessionUser.profilePic != null}"
										th:src="@{ ${sessionUser.profilePic}}"
										class="m--img-rounded m--marginless m--img-centered" /> <img
										th:if="${sessionUser.profilePic == null}"
										src="assets/app/media/img/users/user-icon.png"
										class="m--img-rounded m--marginless m--img-centered" alt="" />

								</span> <span class="m-topbar__username m--hide"></span>
							</a>
								<div class="m-dropdown__wrapper">
									<span
										class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__header m--align-center"
											style="background: url(assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
											<div class="m-card-user m-card-user--skin-dark">
												<div class="m-card-user__pic">
													<img th:if="${sessionUser.profilePic != null}"
														th:src="@{ ${sessionUser.profilePic}}"
														style="height: 70px; width: 70px;"
														class="m--img-rounded m--marginless" /> <img
														th:if="${sessionUser.profilePic == null}"
														src="assets/app/media/img/users/user-icon.png"
														class="m--img-rounded m--marginless" alt="" />
												</div>
												<div class="m-card-user__details">
													<span class="m-card-user__name m--font-weight-500"
														th:text="${sessionUser.firstName + ' ' + sessionUser.lastName}"></span>
													<a href="#"
														class="m-card-user__email m--font-weight-300 m-link"
														th:text="${sessionUser.email}"></a>
												</div>
											</div>
										</div>
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav m-nav--skin-light">
													<li class="m-nav__section m--hide"><span
														class="m-nav__section-text">Section</span></li>
													<li class="m-nav__item"><a id="my_profile_link"
														th:href="@{'/profile?id=' + ${sessionUser.id}}"
														class="m-nav__link"> <i
															class="m-nav__link-icon flaticon-profile-1"></i> <span
															class="m-nav__link-title"> <span
																class="m-nav__link-wrap"> <span
																	class="m-nav__link-text">My Profile</span> <span
																	class="m-nav__link-badge"><span
																		class="m-badge m-badge--success">2</span></span>
															</span>
														</span>
													</a></li>
													<!-- 													<li class="m-nav__item"><a -->
													<!-- 														href="indexa80c.html?page=header/profile&amp;demo=default" -->
													<!-- 														class="m-nav__link"> <i -->
													<!-- 															class="m-nav__link-icon flaticon-share"></i> <span -->
													<!-- 															class="m-nav__link-text">Activity</span> -->
													<!-- 													</a></li> -->
													<!-- 													<li class="m-nav__item"><a -->
													<!-- 														href="indexa80c.html?page=header/profile&amp;demo=default" -->
													<!-- 														class="m-nav__link"> <i -->
													<!-- 															class="m-nav__link-icon flaticon-chat-1"></i> <span -->
													<!-- 															class="m-nav__link-text">Messages</span> -->
													<!-- 													</a></li> -->
													<!-- 													<li class="m-nav__separator m-nav__separator--fit"></li> -->
													<!-- 													<li class="m-nav__item"><a -->
													<!-- 														href="indexa80c.html?page=header/profile&amp;demo=default" -->
													<!-- 														class="m-nav__link"> <i -->
													<!-- 															class="m-nav__link-icon flaticon-info"></i> <span -->
													<!-- 															class="m-nav__link-text">FAQ</span> -->
													<!-- 													</a></li> -->
													<!-- 													<li class="m-nav__item"><a -->
													<!-- 														href="indexa80c.html?page=header/profile&amp;demo=default" -->
													<!-- 														class="m-nav__link"> <i -->
													<!-- 															class="m-nav__link-icon flaticon-lifebuoy"></i> <span -->
													<!-- 															class="m-nav__link-text">Support</span> -->
													<!-- 													</a></li> -->
													<li class="m-nav__separator m-nav__separator--fit"></li>
													<li class="m-nav__item"><a href="/logout"
														class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div></li>
							<!-- 
							  <li id="m_quick_sidebar_toggle" class="m-nav__item"><a
								href="#" class="m-nav__link m-dropdown__toggle"> <span
									class="m-nav__link-icon"><i class="flaticon-grid-menu"></i></span>
							</a></li> 
							 -->

						</ul>
					</div>
				</div>
				<!-- END: Topbar -->
			</div>
		</div>
	</div>


	<!-- begin::New Project Sidebar -->
	<div
		th:if="${sessionUser.role.name == 'ADMIN' || sessionUser.role.name == 'PM'}"
		data-th-replace="fragments/fragment-new-project-sidebar :: new-project-sidebar"></div>
	<!-- end::New Project Sidebar -->

	<!-- begin::New Project Sidebar -->
	<!-- 	<div -->
	<!-- 		data-th-replace="fragments/fragment-project-details-sidebar :: project-details-sidebar"></div> -->
	<!-- end::New Project Sidebar -->

	<!-- begin::Quick Sidebar Add -->
	<div
		th:if="${sessionUser.role.name == 'ADMIN' || sessionUser.role.name == 'PM'}"
		data-th-replace="fragments/fragment-quick-sidebar-add :: quick-sidebar-add"></div>
	<!-- end::Quick Sidebar Add -->

	<!-- begin::Quick Sidebar Messenger -->
	<!-- 	<div -->
	<!-- 		data-th-replace="fragments/fragment-quick-sidebar-messenger :: quick-sidebar-messenger"></div> -->
	<!-- end::Quick Sidebar Messenger -->




</header>
