

<div style="z-index: 1;" id="m_aside_left"
	class="m-grid__item	m-aside-left m-aside-left--minimize  m-aside-left--skin-dark "
	data-th-fragment="left-sidebar-project">
	<!-- BEGIN: Aside Menu -->
	<div style="position:sticky;top: 70px;" id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark "
		data-menu-vertical="false" data-menu-scrollable="true"
		data-menu-dropdown-timeout="500">
			<ul id="dynamic-nav"
				class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

				<li id="project_dashboard_toggle" data-skin="dark"
					data-toggle="m-tooltip" data-placement="right" title=""
					data-original-title="Dashboard"
					class="m-menu__item  m-menu__item--active" aria-haspopup="true"><a
					href="#dashboard" class="m-menu__link "><i
						class="m-menu__link-icon flaticon-line-graph"></i></a></li>

				<li id="project_feed_toggle" data-skin="dark"
					data-toggle="m-tooltip" data-placement="right" title=""
					data-original-title="Feed"
					class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
					data-menu-submenu-toggle="hover"><a href="#feed"
					class="m-menu__link m-menu__toggle"><i
						class="m-menu__link-icon la	la-feed"></i></a></li>

				<li id="project_tasks_toggle"
					class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
					data-skin="dark" data-toggle="m-tooltip" data-placement="right"
					title="" data-original-title="Tasks"
					data-menu-submenu-toggle="hover"><a href="#tasks"
					class="m-menu__link m-menu__toggle"><i
						class="m-menu__link-icon la	la-tasks"></i></a></li>

				<li id="project_issues_toggle"
					class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
					data-menu-submenu-toggle="hover" data-skin="dark"
					data-toggle="m-tooltip" data-placement="right" title=""
					data-original-title="Issues"><a href="#issues"
					class="m-menu__link m-menu__toggle"><i
						class="m-menu__link-icon la	la-thumbs-down"></i></a></li>

				<li id="project_operations_toggle"
					class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
					data-menu-submenu-toggle="hover" data-skin="dark"
					data-toggle="m-tooltip" data-placement="right" title=""
					data-original-title="Operations"><a href="#operations"
					class="m-menu__link m-menu__toggle"><i
						class="m-menu__link-icon la la-puzzle-piece"></i></a></li>

				<li id="project_calendar_toggle"
					class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
					data-menu-submenu-toggle="hover" data-skin="dark"
					data-toggle="m-tooltip" data-placement="right" title=""
					data-original-title="Calendar"><a href="#calendar"
					class="m-menu__link m-menu__toggle"><i
						class="m-menu__link-icon la la-calendar"></i></a></li>
			</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
