<!-- begin::New Project Sidebar -->
<div th:fragment="project-details-sidebar"
	class="m_project_details_sidebar m-project-details-sidebar  m-project-details-sidebar--tabbed m-project-details-sidebar--skin-light">

	<div class="m-project-details-sidebar__content m--hide">
		<span id="m_project_details_sidebar_close"
			class="m-project-details-sidebar__close"><i class="la la-close"></i></span>


	</div>
	<iframe width="0" height="0" border="0" name="noTarget" id="noTarget"></iframe>




</div>


<!-- end::New Project Sidebar -->