<div class="m-content" data-th-fragment="projects-table">

	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div
				class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">
						<div class="form-group m-form__group row align-items-center">
							<div class="col-md-4">
								<div class="m-form__group m-form__group--inline">
									<div class="m-form__label">
										<label>Status:</label>
									</div>
									<div class="m-form__control">
										<div
											class="btn-group bootstrap-select form-control m-bootstrap-select">
											<button type="button"
												class="btn dropdown-toggle bs-placeholder btn-default"
												data-toggle="dropdown" role="button" data-id="m_form_status"
												title="All" aria-expanded="false">
												<span class="filter-option pull-left">All</span>&nbsp;<span
													class="bs-caret"><span class="caret"></span></span>
											</button>
											<div class="dropdown-menu open" role="combobox"
												x-placement="bottom-start"
												style="max-height: 190.703px; overflow: hidden; min-height: 15px; position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
												<ul class="dropdown-menu inner" role="listbox"
													aria-expanded="false"
													style="max-height: 176.703px; overflow-y: auto; min-height: 1px;">
													<li data-original-index="0" class="selected"><a
														tabindex="0" class="" data-tokens="null" role="option"
														aria-disabled="false" aria-selected="true"><span
															class="text">All</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
													<li data-original-index="1"><a tabindex="0" class=""
														data-tokens="null" role="option" aria-disabled="false"
														aria-selected="false"><span class="text">Pending</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
													<li data-original-index="2"><a tabindex="0" class=""
														data-tokens="null" role="option" aria-disabled="false"
														aria-selected="false"><span class="text">Delivered</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
													<li data-original-index="3"><a tabindex="0" class=""
														data-tokens="null" role="option" aria-disabled="false"
														aria-selected="false"><span class="text">Canceled</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
												</ul>
											</div>
											<select class="form-control m-bootstrap-select"
												id="m_form_status" tabindex="-98">
												<option value="">All</option>
												<option value="1">Pending</option>
												<option value="2">Delivered</option>
												<option value="3">Canceled</option>
											</select>
										</div>
									</div>
								</div>
								<div class="d-md-none m--margin-bottom-10"></div>
							</div>
							<div class="col-md-4">
								<div class="m-form__group m-form__group--inline">
									<div class="m-form__label">
										<label class="m-label m-label--single">Type:</label>
									</div>
									<div class="m-form__control">
										<div
											class="btn-group bootstrap-select form-control m-bootstrap-select">
											<button type="button"
												class="btn dropdown-toggle bs-placeholder btn-default"
												data-toggle="dropdown" role="button" data-id="m_form_type"
												title="All">
												<span class="filter-option pull-left">All</span>&nbsp;<span
													class="bs-caret"><span class="caret"></span></span>
											</button>
											<div class="dropdown-menu open" role="combobox">
												<ul class="dropdown-menu inner" role="listbox"
													aria-expanded="false">
													<li data-original-index="0" class="selected"><a
														tabindex="0" class="" data-tokens="null" role="option"
														aria-disabled="false" aria-selected="true"><span
															class="text">All</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
													<li data-original-index="1"><a tabindex="0" class=""
														data-tokens="null" role="option" aria-disabled="false"
														aria-selected="false"><span class="text">Online</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
													<li data-original-index="2"><a tabindex="0" class=""
														data-tokens="null" role="option" aria-disabled="false"
														aria-selected="false"><span class="text">Retail</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
													<li data-original-index="3"><a tabindex="0" class=""
														data-tokens="null" role="option" aria-disabled="false"
														aria-selected="false"><span class="text">Direct</span><span
															class="glyphicon glyphicon-ok check-mark"></span></a></li>
												</ul>
											</div>
											<select class="form-control m-bootstrap-select"
												id="m_form_type" tabindex="-98">
												<option value="">All</option>
												<option value="1">Online</option>
												<option value="2">Retail</option>
												<option value="3">Direct</option>
											</select>
										</div>
									</div>
								</div>
								<div class="d-md-none m--margin-bottom-10"></div>
							</div>
							<div class="col-md-4">
								<div class="m-input-icon m-input-icon--left">
									<input type="text" class="form-control m-input"
										placeholder="Search..." id="generalSearch"> <span
										class="m-input-icon__icon m-input-icon__icon--left"> <span><i
											class="la la-search"></i></span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 order-1 order-xl-2 m--align-right">
						<button type="button"
							class="btn m-btn--square  btn-primary m-btn m-btn--custom"
							data-toggle="modal" data-target="#m_modal_12">New
							Project Wizard</button>
						<div class="m-separator m-separator--dashed d-xl-none"></div>
					</div>
				</div>
			</div>
			<!--end: Search Form -->

			<!--begin: Datatable -->

			<div
				class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded"
				id="auto_column_hide" style="">
				<table class="m-datatable__table"
					style="display: block; min-height: 300px; overflow-x: auto;">
					<thead class="m-datatable__head">
						<tr class="m-datatable__row" style="left: 0px;">
							<th
								class="m-datatable__cell m-datatable__toggle-detail m-datatable__cell--sort"><span
								style="width: 21px;"></span></th>
							<th data-field="OrderID"
								class="m-datatable__cell m-datatable__cell--sort"><span
								style="width: 150px;">Order ID</span></th>
							<th data-field="ShipCountry"
								class="m-datatable__cell m-datatable__cell--sort"><span
								style="width: 150px;">Ship Country</span></th>
							<th data-field="ShipCity"
								class="m-datatable__cell m-datatable__cell--sort"><span
								style="width: 110px;">Ship City</span></th>
							<th data-field="Currency"
								class="m-datatable__cell m-datatable__cell--sort"><span
								style="width: 100px;">Currency</span></th>
							<th data-field="ShipDate"
								class="m-datatable__cell m-datatable__cell--sort"
								data-sort="asc"><span style="width: 110px;">Ship
									Date<i class="la la-arrow-up"></i>
							</span></th>
							<th data-field="Latitude"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 110px;">Latitude</span></th>
							<th data-field="Longitude"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 110px;">Longitude</span></th>
							<th data-field="Notes"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 350px;">Notes</span></th>
							<th data-field="Department"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 110px;">Department</span></th>
							<th data-field="Website"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 110px;">Website</span></th>
							<th data-field="TotalPayment"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 110px;">Total
									Payment</span></th>
							<th data-field="Status"
								class="m-datatable__cell m-datatable__cell--sort"
								style="display: none;"><span style="width: 110px;">Status</span></th>
							<th data-field="Type"
								class="m-datatable__cell m-datatable__cell--sort" style=""><span
								style="width: 110px;">Type</span></th>
						</tr>
					</thead>
					<tbody class="m-datatable__body" style="">
						<tr th:each="project : ${allProjects}" class="m-datatable__row"
							style="left: 0px;">
							<td class="m_project_details_sidebar_toggle"><a
								class="m-datatable__toggle-detail" href="#"><i
									class="fa fa-caret-right" style="width: 21px;"></i></a></td>
							<td data-field="OrderID" class="m-datatable__cell"><a th:href="@{/project(id=${project.id})}"><span
								th:text="${project.name}" style="width: 150px;"></span></a></td>
							<td data-field="ShipCountry" class="m-datatable__cell"><span
								th:text="${project.client.name}" style="width: 150px;">NG
									- Sapele</span></td>
							<td data-field="ShipCity" class="m-datatable__cell"><span
								th:text="${project.owner.userName}" style="width: 110px;">Sapele</span></td>
							<td data-field="Currency" class="m-datatable__cell"><span
								th:text="${project.country}" style="width: 100px;">NGN</span></td>
							<td class="m-datatable__cell--sorted m-datatable__cell"><span
								th:text="${project.currency}" style="width: 110px;">1/1/2016</span></td>
							<td data-field="Latitude" class="m-datatable__cell"><span
								style="width: 110px;">5.8750769</span></td>
							<td data-field="Longitude" class="m-datatable__cell"
								style="display: none;"><span style="width: 110px;">5.6931356</span></td>
							<td data-field="Notes" class="m-datatable__cell"
								style="display: none;"><span style="width: 350px;">adipiscing
									molestie hendrerit at vulputate vitae nisl aenean lectus
									pellentesque eget nunc donec quis orci eget orci vehicula</span></td>
							<td data-field="Department" class="m-datatable__cell"
								style="display: none;"><span style="width: 110px;">Shoes</span></td>
							<td data-field="Website" class="m-datatable__cell"
								style="display: none;"><span style="width: 110px;">whitehouse.gov</span></td>
							<td data-field="TotalPayment" class="m-datatable__cell"
								style="display: none;"><span style="width: 110px;">88,211.68
									NGN</span></td>
							<td data-field="Status" class="m-datatable__cell"
								style="display: none;"><span style="width: 110px;"><span
									class="m-badge  m-badge--primary m-badge--wide">Canceled</span></span></td>
							<td data-field="Type" class="m-datatable__cell"
								style="display: none;"><span style="width: 110px;"><span
									class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;<span
									class="m--font-bold m--font-danger">Online</span></span></td>
						</tr>
						

					</tbody>
				</table>
			</div>
			<!--end: Datatable -->


		</div>
	</div>
</div>