<div
	class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded"
	id="auto_column_hide" style="">
	<table class="m-datatable__table"
		style="display: block; min-height: 300px; overflow-x: auto;">
		<thead class="m-datatable__head">
			<tr class="m-datatable__row" style="left: 0px;">
				<th
					class="m-datatable__cell m-datatable__toggle-detail m-datatable__cell--sort"><span
					style="width: 21px;"></span></th>
				<th data-field="OrderID"
					class="m-datatable__cell m-datatable__cell--sort"><span
					style="width: 150px;">Order ID</span></th>
				<th data-field="ShipCountry"
					class="m-datatable__cell m-datatable__cell--sort"><span
					style="width: 150px;">Ship Country</span></th>
				<th data-field="ShipCity"
					class="m-datatable__cell m-datatable__cell--sort"><span
					style="width: 110px;">Ship City</span></th>
				<th data-field="Currency"
					class="m-datatable__cell m-datatable__cell--sort"><span
					style="width: 100px;">Currency</span></th>
				<th data-field="ShipDate"
					class="m-datatable__cell m-datatable__cell--sort" data-sort="asc"><span
					style="width: 110px;">Ship Date<i class="la la-arrow-up"></i></span></th>
				<th data-field="Latitude"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 110px;">Latitude</span></th>
				<th data-field="Longitude"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 110px;">Longitude</span></th>
				<th data-field="Notes"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 350px;">Notes</span></th>
				<th data-field="Department"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 110px;">Department</span></th>
				<th data-field="Website"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 110px;">Website</span></th>
				<th data-field="TotalPayment"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 110px;">Total
						Payment</span></th>
				<th data-field="Status"
					class="m-datatable__cell m-datatable__cell--sort"
					style="display: none;"><span style="width: 110px;">Status</span></th>
				<th data-field="Type"
					class="m-datatable__cell m-datatable__cell--sort" style=""><span
					style="width: 110px;">Type</span></th>
			</tr>
		</thead>
		<tbody class="m-datatable__body" style="">
			<tr th:each="project : ${allProjects}" data-row="0" class="m-datatable__row" style="left: 0px;">
				<td class="m-datatable__cell m-datatable__toggle--detail"><a
					class="m-datatable__toggle-detail" href="#"><i
						class="fa fa-caret-right" style="width: 21px;"></i></a></td>
				<td th:text="${project.name}" data-field="OrderID" class="m-datatable__cell"><span
					style="width: 150px;">55154-5393 - NG</span></td>
				<td th:text="${project.client.name}" data-field="ShipCountry" class="m-datatable__cell"><span
					style="width: 150px;">NG - Sapele</span></td>
				<td th:text="${project.owner.userName}" data-field="ShipCity" class="m-datatable__cell"><span
					style="width: 110px;">Sapele</span></td>
				<td th:text="${project.country}" data-field="Currency" class="m-datatable__cell"><span
					style="width: 100px;">NGN</span></td>
				<td th:text="${project.currency}" 
					class="m-datatable__cell--sorted m-datatable__cell"><span
					style="width: 110px;">1/1/2016</span></td>
				<td data-field="Latitude" class="m-datatable__cell"><span
					style="width: 110px;">5.8750769</span></td>
				<td data-field="Longitude" class="m-datatable__cell"
					style="display: none;"><span style="width: 110px;">5.6931356</span></td>
				<td data-field="Notes" class="m-datatable__cell"
					style="display: none;"><span style="width: 350px;">adipiscing
						molestie hendrerit at vulputate vitae nisl aenean lectus
						pellentesque eget nunc donec quis orci eget orci vehicula</span></td>
				<td data-field="Department" class="m-datatable__cell"
					style="display: none;"><span style="width: 110px;">Shoes</span></td>
				<td data-field="Website" class="m-datatable__cell"
					style="display: none;"><span style="width: 110px;">whitehouse.gov</span></td>
				<td data-field="TotalPayment" class="m-datatable__cell"
					style="display: none;"><span style="width: 110px;">88,211.68
						NGN</span></td>
				<td data-field="Status" class="m-datatable__cell"
					style="display: none;"><span style="width: 110px;"><span
						class="m-badge  m-badge--primary m-badge--wide">Canceled</span></span></td>
				<td data-field="Type" class="m-datatable__cell"
					style="display: none;"><span style="width: 110px;"><span
						class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;<span
						class="m--font-bold m--font-danger">Online</span></span></td>
			</tr>
		</tbody>
	</table>
</div>