<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default">
<!-- begin::Head -->
<head th:replace="fragments/fragment-head-html :: head"></head>
<!-- end::Head -->

<!-- Begin::Body -->
<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div layout:fragment="content"
		class="m-grid m-grid--hor m-grid--root m-page">

		<!-- begin::Content -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
			<div class="m-grid__item m-grid__item--fluid m-wrapper">
				<div class="m-subheader ">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="m-subheader__title m-subheader__title--separator">Clients</h3>

						</div>
						<div>
							<div
								class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
								<div class="row align-items-center">
									<div style="margin-right:20px;" class="col-xl-4 order-1 order-xl-2 m--align-left">
										<a id="init_nature_datatable" data-toggle="modal"
											data-target="#nature-modal" href="#"
											class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
											  <span>Site
													Natures</span>
										
										</a>
									</div>
									<div class="col-xl-4 order-1 order-xl-2 m--align-right">
										<a data-toggle="modal" data-target="#m_modal_4" href="#"
											class="btn btn-focus m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
											<span> <i class="flaticon-plus"></i> <span>New
													Client</span>
										</span>
										</a>
										<div class="m-separator m-separator--dashed d-xl-none"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					th:replace="fragments/fragment-clients-content :: clients-content"></div>
				
				<div
		th:replace="fragments/modal-fragments/fragment-new-site-modal :: new-site-modal"></div>
	<div
		th:replace="fragments/modal-fragments/fragment-nature-modal :: nature-modal"></div>
	<div
		th:replace="fragments/modal-fragments/fragment-new-nature-modal :: new-nature-modal"></div>
		
		<div
		th:replace="fragments/modal-fragments/fragment-update-site-modal :: update-site-modal"></div>

			</div>
		</div>

		<!-- end:: Content -->
		<script type="text/javascript"
			src="assets/omniapp/js/clients.scripts.js"></script>
		<script type="text/javascript"
			src="assets/omniapp/js/datatable-nature-json.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				populateClientsUI()

			});
		</script>
	</div>
	<!-- end:: Page -->


</body>
<!-- end::Body -->

</html>

