
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default">
<!-- begin::Head -->
<head th:replace="fragments/fragment-head-html :: head"></head>
<!-- end::Head -->

<!-- Begin::Body -->
<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div layout:fragment="content"
		class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Body -->
		<div
			id="high" class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

			<!-- BEGIN: Left Aside -->
			<div
				data-th-replace="fragments/fragment-left-sidebar-project :: left-sidebar-project"></div>
			<!-- END: Left Aside -->
			<div class="m-grid__item m-grid__item--fluid m-wrapper">
				<!-- begin::Content -->
				<div id="m_dynamic_content_project" class="m-content">
				<div  th:replace="fragments/project-fragments/fragment-dashboard :: fragment-dashboard"></div>
				<div th:replace="fragments/project-fragments/fragment-feed :: fragment-feed"></div>
				<div th:replace="fragments/project-fragments/fragment-issues :: fragment-issues"></div>
				<div th:replace="fragments/project-fragments/fragment-operations :: fragment-operations"></div>
				<div th:replace="fragments/project-fragments/fragment-tasks :: fragment-tasks"></div>
				<div  th:replace="fragments/project-fragments/fragment-calendar :: fragment-calendar"></div>
				</div>
				<!-- End::Content -->
			</div>
		</div>
		<!-- end:: Body -->


	</div>
	<!-- end:: Page -->

	
</body>
<!-- end::Body -->

</html>