
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default">
<!-- begin::Head -->
<head th:replace="fragments/fragment-head-html :: head"></head>
<!-- end::Head -->

<!-- Begin::Body -->
<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div layout:fragment="content"
		class="m-grid m-grid--hor m-grid--root m-page">
		<!-- begin::Body -->
		<div id="high"
			class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

			<!-- BEGIN: selected project -->
			<input type="hidden" id="selected_project_id" />
			<!-- END: selected project -->
			<!-- BEGIN: Left Aside -->
			<div
				data-th-replace="fragments/fragment-left-sidebar-project :: left-sidebar-project"></div>
			<!-- END: Left Aside -->
			<div class="m-grid__item m-grid__item--fluid m-wrapper">
				<div id="project_subheader" class="m-subheader ">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 th:text="${selectedProject.name}" class="m-subheader__title m-subheader__title--separator">Stack</h3>
							<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
								<li class="m-nav__item m-nav__item--home"><a href="/home"
									class="m-nav__link m-nav__link--icon"> <i
										class="m-nav__link-icon la la-home"></i>
								</a></li>
								<li class="m-nav__separator">-</li>
								<li class="m-nav__item"><a href="/projects" class="m-nav__link">
										<span class="m-nav__link-text">Projects</span>
								</a></li>
								<li class="m-nav__separator">-</li>
								<li class="m-nav__item"><a href="" class="m-nav__link">
										<span th:text="${selectedProject.name}" class="m-nav__link-text">Stack</span>
								</a></li>
							</ul>
						</div>

					</div>
				</div>

				<!-- begin::Content -->
				<div id="m_dynamic_content_project" class="m-content">
					<div
						th:replace="fragments/project-fragments/fragment-dashboard :: fragment-dashboard"></div>
					<div
						th:replace="fragments/project-fragments/fragment-feed :: fragment-feed"></div>
					<div
						th:replace="fragments/project-fragments/fragment-issues :: fragment-issues"></div>
					<div
						th:replace="fragments/project-fragments/fragment-operations :: fragment-operations"></div>
					<div
						th:replace="fragments/project-fragments/fragment-tasks :: fragment-tasks"></div>
					<div
						th:replace="fragments/project-fragments/fragment-calendar :: fragment-calendar"></div>

					<div
						th:replace="fragments/project-fragments/fragment-operation :: fragment-operation"></div>

					<div
						th:replace="fragments/project-fragments/fragment-service :: fragment-service"></div>

					<div
						th:replace="fragments/project-fragments/fragment-task :: fragment-task"></div>
				</div>
				<!-- End::Content -->
			</div>
		</div>
		<!-- end:: Body -->

		<script type="text/javascript">
			$(document).ready(function() {
				gmapPopoverInit();
				let searchParams = new URLSearchParams(window.location.search);
				let param = searchParams.get('id');
				$('#selected_project_id').attr('value', param);
			});
		</script>


		<script type="text/javascript"
			src="assets/omniapp/js/datatable-operations-json.js">
			
		</script>

		<script type="text/javascript"
			src="assets/omniapp/js/project.scripts.js">
			
		</script>

		<script type="text/javascript"
			src="assets/omniapp/js/datatable-service-tasks-json.js">
			
		</script>

		<script type="text/javascript"
			src="assets/omniapp/js/service.scripts.js">
			
		</script>
		
		


	</div>
	<!-- end:: Page -->


</body>
<!-- end::Body -->

</html>