<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default">

<!-- begin::Head -->
<head th:replace="fragments/fragment-head-html :: head"></head>
<!-- end::Head -->


<!-- end::Body -->
<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">



	<!-- begin:: Page -->
	<div layout:fragment="content"
		class="m-grid m-grid--hor m-grid--root m-page">



		<!-- begin::Body -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

			<div class="m-grid__item m-grid__item--fluid m-wrapper">

				<div
					data-th-replace="fragments/fragment-projects-table :: projects-table"></div>
			</div>


		</div>

		<!-- end:: Body -->

		<!-- Begin : New Project Wizard Modal -->
		<div
			th:replace="fragments/fragment-new-project-wizard-modal :: new-project-wizard-modal"></div>
		<!-- END : New Project Wizard Modal -->




	</div>
	<!-- end:: Page -->


</body>
<!-- end::Body -->

</html>