<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/default">
<!-- begin::Head -->
<head th:replace="fragments/fragment-head-html :: head"></head>
<!-- end::Head -->

<!-- Begin::Body -->
<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">

	<!-- begin:: Page -->
	<div layout:fragment="content"
		class="m-grid m-grid--hor m-grid--root m-page">

		<!-- begin::Content -->
		<div
			class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
			<div class="loader-wrapper" style="display: none;">
				<div id="loader"></div>
			</div>

			<div class="m-grid__item m-grid__item--fluid m-wrapper">


				<div class="m-content">
					<div class="m-portlet m-portlet--mobile">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										Users<small>these are all the registered users.</small>
									</h3>
								</div>
							</div>

						</div>
						<div class="m-portlet__body">
							<!--begin: Search Form -->
							<div
								class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
								<div class="row align-items-center">
									<div class="col-xl-8 order-2 order-xl-1">
										<div class="form-group m-form__group row align-items-center">
											<div class="col-md-4">
												<div class="m-input-icon m-input-icon--left">
													<input type="text"
														class="form-control m-input m-input--solid"
														placeholder="Search..." id="generalSearchUsers"> <span
														class="m-input-icon__icon m-input-icon__icon--left">
														<span><i class="la la-search"></i></span>
													</span>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!--end: Search Form -->


							<!--begin: Datatable -->
							<div
								class="m_datatable m-datatable m-datatable--default m-datatable--error m-datatable"
								id="users_datatable" style="position: static; zoom: 1;"></div>
							<!--end: Datatable -->
						</div>


					</div>
				</div>
				<!-- BEGIN: Edit User Details Modal -->
				<div class="modal fade show" id="modal_update_user_details"
					tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
					style="display: none; padding-right: 17px; background: transparent;">
					<div class="modal-dialog modal-sm " role="document">
						<div class="modal-content" style="background: #f1f1f1">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Update User
									Details</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>

							<div class="modal-body">
								<form>

									<div class="form-group">
										<label for="" class="form-control-label">Role:</label> <select
											id="user-role-select" style="width: 100%"
											class="form-control">

										</select>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<button id="button_update_user_details" class="btn btn-primary">Save
									changes</button>
							</div>


						</div>
					</div>


				</div>
				<!-- END: Edit User Details Modal -->

			</div>

			<!-- end:: Content -->
		</div>

		<script type="text/javascript"
			src="assets/omniapp/js/datatable-users-json.js"></script>
		<script type="text/javascript">
			$('.loader-wrapper').show();
			$(document).ready(function() {
				DatatableUsersRemote.init();
				$('.loader-wrapper').hide();

			});
		</script>
	</div>
	<!-- end:: Page -->
</body>
<!-- end::Body -->

</html>

