<div id="feed-fragment" style="display: none;"
	th:fragment="fragment-feed">
	<div class="m-portlet m-portlet--full-height">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">Project Feed</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul
					class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm"
					role="tablist">
					<li class="nav-item m-tabs__item"><a
						class="nav-link m-tabs__link active" data-toggle="tab"
						href="#m_widget2_tab1_content" role="tab" aria-expanded="true">
							Last Month </a></li>
					<li class="nav-item m-tabs__item"><a
						class="nav-link m-tabs__link" data-toggle="tab"
						href="#m_widget2_tab2_content" role="tab" aria-expanded="false">
							All Time </a></li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin:Timeline 1-->
			<div class="m-timeline-1 m-timeline-1--fixed">
				<div class="m-timeline-1__items">
					<div class="m-timeline-1__marker"></div>

				</div>
			</div>
			<div class="row">
				<div class="col m--align-center">
					<button type="button"
						class="btn btn-sm m-btn--custom m-btn--pill  btn-danger">Load
						More</button>
				</div>
			</div>
			<!--End:Timeline 1-->
		</div>
	</div>

</div>

