
<div id="dashboard-fragment" style="display: none;"
	th:fragment="fragment-dashboard" class="m-portlet">

	<div class="m-portlet__body  m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-4">
				<div
					class="m-portlet m-portlet--rounded m-portlet--unair m-portlet--head-sm">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">Task status</h3>
							</div>
						</div>
					</div>
					<div class="m-portlet__body">
						<!--begin::Total Profit-->
						<div class="m-widget24">
							<div class="m-widget24__item">

								<div th:if="${taskCount != 0}" id="piechart">
									<script th:inline="javascript">
										/*<![CDATA[*/
										var completed = /*[[${completedTasksCount}]]*/'completed';
										var onGoing = /*[[${onGoingTasksCount}]]*/'On going';
										/*]]>*/
									</script>
								</div>


								<div th:if="${taskCount == 0}">
									<div style="display: table-cell; vertical-align: middle;">

										<table width="90%" align="center" border="0" cellpadding="0"
											cellspacing="0">
											<tbody>
												<tr>
													<td align="center"><div
															class="emptydashboardbox omnia fonticon40">

															<div class="m-demo-icon__preview">
																<i style="font-size: 40px;" class="flaticon-tool"></i>
															</div>
														</div></td>
												</tr>
												<tr>
													<td align="center" height="110px">
														<div>
															<span class="col777 pt12 lh25">No tasks found. Add
																tasks and view their progress here</span>
														</div>
													</td>
												</tr>
												<tr>
													<td align="center"><button type="button"
															class="btn btn-primary btn-sm">Add new tasks</button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>


							</div>
						</div>
						<!--end::Total Profit-->
					</div>
				</div>

			</div>
			<div class="col-xl-4">
				<!--begin::New Feedbacks-->
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Total Tasks</h3>
								<span class="m-widget1__desc">All Project Tasks</span>
							</div>
							<div class="col m--align-right">
								<span id="tasks_count" class="m-widget1__number m--font-success">None</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Unassigned Tasks</h3>
								<span class="m-widget1__desc">Tasks with no owners</span>
							</div>
							<div class="col m--align-right">
								<span id="unassigned_tasks"
									class="m-widget1__number m--font-brand">None</span>
							</div>
						</div>
					</div>
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Overdue Tasks</h3>
								<span class="m-widget1__desc">Tasks end date done</span>
							</div>
							<div class="col m--align-right">
								<span id="overdue_tasks"
									class="m-widget1__number m--font-danger">None</span>
							</div>
						</div>
					</div>

				</div>
				<!--end::New Feedbacks-->
			</div>
			<div class="col-xl-4">
				<!--begin::New Orders-->
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">New Orders</h4>
						<br> <span class="m-widget24__desc"> Fresh Order
							Amount </span> <span class="m-widget24__stats m--font-danger">
							567 </span>
						<div class="m--space-10"></div>
						<div class="progress m-progress--sm">
							<div class="progress-bar m--bg-danger" role="progressbar"
								style="width: 69%;" aria-valuenow="50" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
						<span class="m-widget24__change"> Change </span> <span
							class="m-widget24__number"> 69% </span>
					</div>
				</div>
				<!--end::New Orders-->
			</div>
		</div>



	</div>
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon"> <i
						class="flaticon-map-location"></i>
					</span>
					<h3 class="m-portlet__head-text">Operations Status</h3>
				</div>
			</div>

		</div>
		<div class="m-portlet__body"
			style="width: 100%; min-height: 500px; height: 100%; position: relative;">
			<div class="sites_map" id="dashboard_map"></div>
		</div>
	</div>
</div>
