<div id="feed-fragment" style="display: none;"
	th:fragment="fragment-feed">
	<div class="m-portlet m-portlet--full-height">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">Project Feed</h3>
				</div>
			</div>
			
		</div>
		<div style="background-color: #EBECF1;" class="m-portlet__body">
			<!--begin:Timeline 1-->
			

			<div class="m-timeline-1 m-timeline-1--fixed">
				<div class="row">
					<div class="col m--align-center">
						<a title="Refresh Feed" onclick="refreshProjectFeed()"
							style="position: relative; z-index: 1;color:#fff;font-weight:600;"
							class="btn btn-info m-btn m-btn--icon m-btn--pill"><span><i
								class="fa fa-refresh"></i><span>Now</span></span></a>
					</div>
				</div>
				<div class="m-timeline-1__items">

<!-- 					<div class="m-timeline-1__marker"></div> -->

					
				</div>
				<div class="row">
						<div class="col m--align-center">
							<span title="Project creation date" id="project_creation_date" 
								style="position:relative;color:#fff;font-weight:600;" class="btn btn-info btn-sm m-btn--custom m-btn--pill "></span>
						</div>
					</div>
			</div>

			<!--End:Timeline 1-->
		</div>
	</div>

</div>

