
<div id="dashboard-fragment" style="display: none;"
	th:fragment="fragment-dashboard" >
	
	
	
	<div class="m-content">
<div class="m-portlet">
	<div class="m-portlet__body  m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-3">

				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Total Tasks</h3>
							</div>
							<div class="col m--align-right">
								<span id="tasks_count" class="m-widget1__number m--font-success">None</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="m-widget1">

					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Unassigned</h3>
							</div>
							<div class="col m--align-right">
								<span id="unassigned_tasks"
									class="m-widget1__number m--font-brand">None</span>
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="col-xl-3">
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Unplanned</h3>
							</div>
							<div class="col m--align-right">
								<span id="unplanified_tasks"
									class="m-widget1__number m--font-warning">None</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3">
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Overdue</h3>
							</div>
							<div class="col m--align-right">
								<span id="overdue_tasks"
									class="m-widget1__number m--font-danger">None</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- BEGIN : Issues Widget -->
		
		<div style="background: #f2f2f2;" class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-4">

				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Total Issues</h3>
<!-- 								<span class="m-widget1__desc">All Project Issues</span> -->
							</div>
							<div class="col m--align-right">
								<span id="issues_count" class="m-widget1__number m--font-success">None</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="m-widget1">

					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Unassigned</h3>
<!-- 								<span class="m-widget1__desc">Issues with no owners</span> -->
							</div>
							<div class="col m--align-right">
								<span id="unassigned_issues"
									class="m-widget1__number m--font-brand">None</span>
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="col-xl-4">
				<div class="m-widget1">
					<div class="m-widget1__item">
						<div class="row m-row--no-padding align-items-center">
							<div class="col">
								<h3 class="m-widget1__title">Overdue</h3>
<!-- 								<span class="m-widget1__desc">Issues end date done</span> -->
							</div>
							<div class="col m--align-right">
								<span id="overdue_issues" 
									class="m-widget1__number m--font-danger">None</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
<!-- END : Issues Widget -->


	</div>
	</div>
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon"> <i
						class="flaticon-map-location"></i>
					</span>
					<h3 class="m-portlet__head-text">Operations Status</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<span id="open_operations" style="font-weight:500;color: white;background-color: #6FBA33;" class="m-badge"></span><small>
					Open</small> 
					<span id="closed_operations" style="font-weight:500;color: white;margin-left: 1%; background-color: #F7544C;"
					class="m-badge"></span><small> Closed</small>
			</div>

		</div>
		<div class="m-portlet__body"
			style="width: 100%; min-height: 500px; height: 100%; position: relative;">
			<div
				style="width: 17%; position: absolute; top: 5%; float: left;">
				<select data-style="btn-danger"
					style="position: absolute; width: 100%;"
					id="operation_status_filter"
					class="form-control m-bootstrap-select m_selectpicker"
					data-live-search="true" data-placeholder="Status Filter">
					<option value="">Show All</option>
					<option value="open">Open</option>
					<option value="closed">Closed</option>
				</select>
			</div>

			<div style="z-index: 1;position: relative; top: 0; right: -1%; float: right;">
				<a style="top: 0;" title="Fullscreen" href="#"
					id="btn-enter-full-screen-dashboard-map"
					class="btn btn-info m-btn m-btn--icon m-btn--icon-only"><i
					class="fa fa-expand"></i></a> 
				<a title="Exit Fullscreen" href="#"
					style="display: none;" id="btn-exit-full-screen-dashboard-map"
					class="btn btn-info m-btn m-btn--icon m-btn--icon-only"><i
					class="fa fa-compress"></i></a>

			</div>
			

			<div class="sites_map" id="dashboard_map"></div>
		</div>
	</div>
	
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon"> <i
						class="flaticon-analytics"></i>
					</span>
					<h3 class="m-portlet__head-text">Gantt Chart</h3>
				</div>
			</div>


		</div>
		<div class="m-portlet__body"
			style="width: 100%; height: 100%; position: relative;">
			

			<div style="position:relative" class="gantt" id="GanttChartDIV"></div>
			<div id="gantt_empty" class="m-widget24"
										style="display: none;">
										<div class="m-widget24__item">
											<div>
												<div style="display: block; vertical-align: middle;">

													<table width="100%" align="center" border="0"
														cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td align="center"><div
																		class="emptydashboardbox omnia fonticon40">

																		<div class="m-demo-icon__preview">
																			<i style="font-size: 40px;" class="flaticon-analytics"></i>
																		</div>
																	</div></td>
															</tr>
															<tr>
																<td align="center" height="110px">
																	<div>
																		<span class="col777 pt12 lh25">This project has no operations yet to build a Gantt chart
																			. Add operations, services and tasks to populate it</span>
																	</div>
																</td>
															</tr>
<!-- 															<tr> -->
<!-- 																<td align="center"><button -->
<!-- 																		th:if="${sessionUser.id == selectedProject.owner.id}" -->
<!-- 																		class="btn btn-primary btn-sm operation_add_new_service">Add -->
<!-- 																		new service</button></td> -->
<!-- 															</tr> -->
														</tbody>
													</table>
												</div>
											</div>


										</div>
									</div>
		</div>
	</div>
	</div>
</div>
