
<div id="operation-fragment" style="display: none;"
	th:fragment="fragment-operation">
	<div id="map_wrapper" style="width: 100%;">



		<div id="operation_map" class="sites_map"
			style="max-width: 82%; top: 2%; position: absolute; z-index: 0;">
		</div>
	</div>
	<div
		style="margin-top: 5%; height: 100%; z-index: 1; position: relative;">
		<div style="margin-bottom: 20px;" class="m-subheader row">

			<div class="col-xl-11">
				<div class="d-flex align-items-center">
					<div
						style="position: absolute; left: 1%; padding: 10px 10px 10px 10px;"
						class="mr-auto">



						<h1 style="font-size: 32px !important; color: #fff;"
							id="operation_fragment_header_name"
							class="m-subheader__title m-subheader__title--separator"></h1>

						<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
							<li class="m-nav__item m-nav__item--home"><a href="/home"
								class="m-nav__link m-nav__link--icon"> <i
									style="color: #fff;" class="m-nav__link-icon la la-home"></i>
							</a></li>
							<li style="color: #fff;" class="m-nav__separator">-</li>
							<li class="m-nav__item"><a id="operation_project_nav_link"
								class="m-nav__link"> <span style="color: #fff;"
									id="operation_project_nav_text" class="m-nav__link-text"></span>
							</a></li>

						</ul>






					</div>

				</div>
			</div>
			<div class="col-xl-1">
				<div class="d-flex align-items-center">
					<a style="z-index: 1; position: absolute;"
						class="btn btn-danger m-btn m-btn--icon"> <span> <i
							class="flaticon-coins"></i> <span id="operation_price">Secondary</span>
					</span>
					</a>
				</div>
			</div>

		</div>
		<br />
		<div class="row">
			<div class="col-xl-8">
				<!--begin:: Widgets/Best Sellers-->
				<div style="max-height: 520px !important;"
					class="m-portlet m-portlet--tabs m-portlet--full-height ">
					<div class="m-portlet__head">

						<div class="m-portlet__head-tools">
							<ul
								class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x"
								role="tablist">
								<li class="nav-item m-tabs__item"><a
									class="nav-link m-tabs__link active show" data-toggle="tab"
									href="#operation_services" role="tab" aria-selected="true">
										<i class="la la-briefcase"></i> Services
								</a></li>
								<li class="nav-item m-tabs__item"><a
									class="nav-link m-tabs__link" data-toggle="tab"
									href="#operation_snags" role="tab" aria-selected="false"> <i
										class="la la-bug"></i> Snags (<span id="snags_count"></span>)
								</a></li>

								<li th:if="${sessionUser.id == selectedProject.owner.id}"
									style="margin: auto; margin-right: 0; float: right;"><button
										class="btn btn-primary btn-sm operation_add_new_service">Add
										new service</button></li>
							</ul>

						</div>
					</div>
					<div class="m-portlet__body">
						<!--begin::Content-->



						<div class="tab-content">
							<div class="tab-pane active show" id="operation_services"
								role="tabpanel">
								<div id="scrollable_services" class="m-scrollable"
									data-scrollable="true" data-max-height="410"
									data-scrollbar-shown="true">
									<div id="operation_services_widget" class="m-widget4"></div>
									<div id="operation_empty_services" class="m-widget24"
										style="display: none;">
										<div class="m-widget24__item">
											<div>
												<div style="display: block; vertical-align: middle;">

													<table width="100%" align="center" border="0"
														cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td align="center"><div
																		class="emptydashboardbox omnia fonticon40">

																		<div class="m-demo-icon__preview">
																			<i style="font-size: 40px;" class="flaticon-tool"></i>
																		</div>
																	</div></td>
															</tr>
															<tr>
																<td align="center" height="110px">
																	<div>
																		<span class="col777 pt12 lh25">This operation
																			contains no services. Add services and view their
																			progress here</span>
																	</div>
																</td>
															</tr>
															<tr>
																<td align="center"><button
																		th:if="${sessionUser.id == selectedProject.owner.id}"
																		class="btn btn-primary btn-sm operation_add_new_service">Add
																		new service</button></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>


										</div>
									</div>
								</div>

							</div>
							<div class="tab-pane" id="operation_snags" role="tabpanel">
								<div style="text-align:center;">
								<a style="position:relative;margin: 0 auto 30px auto;" href="#" data-toggle="modal"
									data-target="#snag-modal"
									class="btn btn-danger m-btn btn-sm 	m-btn m-btn--icon m-btn--pill">
									<span> <i class="la la-warning"></i> <span>New
											Snag</span>
								</span>
								</a>
								</div>

								<div id="scrollable_snags" class="m-scrollable"
									data-scrollable="true" data-max-height="350"
									data-scrollbar-shown="true">
									<div id="operation_snags_wrapper"
										style="margin-right: -50px; padding-right: 50px; max-height: 100%; overflow-y: scroll;"></div>
								</div>

							</div>

						</div>
						<!--end::Content-->
						<!--  hedhi  -->
						<!-- 						</div> -->
					</div>
				</div>
				<!--end:: Widgets/Best Sellers-->
			</div>
			<div class="col-xl-4">
				<div style="opacity: 0.9;"
					class="m-portlet m--bg-accent m-portlet--bordered-semi m-portlet--skin-dark m-portlet--full-height">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h3 class="m-portlet__head-text">Comments</h3>

							</div>
						</div>

					</div>

					<div class="m-portlet__body"
						style="max-height: 350px; overflow: hidden;">

						<div style="width: 100%; position: absolute; top: 80%;">
							<div style="position: relative; width: 80%;"
								class="form-group m-form__group">

								<div class="input-group">
									<input id="comment_content" type="text"
										class="form-control m-input m-input--square"
										placeholder="Comment ...">
									<div class="input-group-append">
										<button
											class="btn btn-warning m-btn m-btn--icon btn-lg m-btn--icon-only"
											type="button" onclick="doPostComment()">
											<i class="fa fa-send-o"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

						<div
							style="margin-right: -50px; padding-right: 50px; max-height: 100%; overflow-y: scroll;"
							id="operation_comments_wrapper"></div>


					</div>

				</div>
			</div>
		</div>
	</div>

	<div
		th:replace="fragments/modal-fragments/fragment-snag-modal :: snag-modal"></div>

	<input id="operation_fragment_selected_operation_id" type="hidden" />

</div>
