<div id="tasks-fragment" style="display: none;"
	th:fragment="fragment-tasks">


	<div class="m-content">
		<div class="m-portlet">
			<div class="m-portlet__body m-portlet__body--no-padding">
				<div class="row m-row--no-padding m-row--col-separator-xl">
					<div class="col-md-12 col-lg-12 col-xl-4">
						<!--begin:: Widgets/Stats2-1 -->
						<div class="m-widget1">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title m--font-info">Total Tasks</h3>
										<!-- 										<span class="m-widget1__desc">All tasks count</span> -->
									</div>
									<div class="col m--align-right">
										<span id="tasks_fragment_all_tasks_count"
											class="m-widget1__number m--font-info">+$17,800</span>
									</div>
								</div>
							</div>


						</div>
						<!--end:: Widgets/Stats2-1 -->
					</div>
					<div class="col-md-12 col-lg-12 col-xl-4">
						<!--begin:: Widgets/Stats2-2 -->
						<div class="m-widget1">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title m--font-success">Open</h3>
										<!-- 										<span class="m-widget1__desc">Open tasks percentage</span> -->
									</div>
									<div class="col m--align-right">
										<span id="tasks_fragment_open_tasks_percentage"
											class="m-widget1__number m--font-success">+24%</span>
									</div>
								</div>
							</div>


						</div>
						<!--begin:: Widgets/Stats2-2 -->
					</div>
					<div class="col-md-12 col-lg-12 col-xl-4">
						<!--begin:: Widgets/Stats2-3 -->
						<div class="m-widget1">


							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title m--font-danger">Closed</h3>
										<!-- 										<span class="m-widget1__desc">Closed tasks percentage</span> -->
									</div>
									<div class="col m--align-right">
										<span id="tasks_fragment_closed_tasks_percentage"
											class="m-widget1__number m--font-danger">+60%</span>
									</div>
								</div>
							</div>
						</div>
						<!--begin:: Widgets/Stats2-3 -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<!--     <div class="col-lg-6"> -->
			<!--begin::Portlet-->
			<div style="width: 100%;" class="m-portlet m-portlet--full-height">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon"> <i class="la la-tasks"></i>
							</span>

							<h3 class="m-portlet__head-text">Tasks</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-accordion m-accordion--bordered m-accordion--solid"
						id="m_accordion_4" role="tablist">

						<div th:if="${taskCount == 0}" class="m-widget24">
							<div class="m-widget24__item">
								<div>
									<div style="display: block; vertical-align: middle;">

										<table width="100%" align="center" border="0" cellpadding="0"
											cellspacing="0">
											<tbody>
												<tr>
													<td align="center"><div
															class="emptydashboardbox omnia fonticon40">

															<div class="m-demo-icon__preview">
																<i style="font-size: 40px;" class="flaticon-tool"></i>
															</div>
														</div></td>
												</tr>
												<tr>
													<td align="center" height="110px">
														<div>
															<span class="col777 pt12 lh25">This project
																contains no tasks. You have to add tasks to view their progress
																here, you can start by adding an operation</span>
														</div>
													</td>
												</tr>
												<tr>
													<td align="center"><button onclick="toggleAddNewOperationSidebar()"
															class="btn btn-primary btn-sm operation_add_new_service">Add
															Operation</button>
														</td>

												</tr>
											</tbody>
										</table>
									</div>
								</div>


							</div>
						</div>

						<!--begin::Item-->
						<div th:each="element : ${ServiceTasksMap}"
							class="m-accordion__item" th:if="${!element.value.empty}"
							th:id="${element.key.id}"
							th:onclick="'javascript:setSelectedService(' + ${element.key.id} + ' )'">

							<div name="head" class="m-accordion__item-head collapsed"
								role="tab" id="m_accordion_4_item_100_head"
								data-toggle="collapse" href="#m_accordion_4_item_100_body"
								aria-expanded="false">
								<span class="m-accordion__item-icon"><i
									class="flaticon-more"></i></span> <span
									class="m-accordion__item-title"
									th:if="${element.key.operation != null}" th:inline="text">
									<span style="font-size: 18px; font-weight: 600;">[[${element.key.name}]]</span>

									<small style="margin-left: 20px; color: #36a3f7;"
									th:text="|in ${element.key.operation.name}|"></small>

								</span> <span class="m-accordion__item-title"
									th:if="${element.key.operation == null}"
									th:text="|${element.key.name} |">Lorem Ipsum has been
									the industry</span> <span th:inline="text"> <span
									style="color: #716aca; font-size: 18px; font-weight: 600;">[[${element.value.size()}]]</span>
								</span>
							</div>

							<div name="body" class="m-accordion__item-body collapse"
								id="m_accordion_4_item_100_body" role="tabpanel"
								aria-labelledby="m_accordion_4_item_100_head"
								data-parent="#m_accordion_4" style="">
								<div class="m-accordion__item-content">
									<!-- hey -->
									<table class="table table-sm m-table m-table--head-bg-brand">
										<thead class="thead-inverse">
											<tr>
												<th>#</th>
												<th width="30%">Task</th>
												<th style="text-align: center">Assignee</th>
												<th style="text-align: center">Status</th>
												<th style="text-align: center">Start Date</th>
												<th style="text-align: center">Due Date</th>
												<th style="text-align: center">Progress</th>
												<th style="text-align: center">Completed On</th>
												<th style="text-align: center">Priority</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="task : ${element.value}">
												<th scope="row"></th>
												<td width="30%"><a
													style="font-weight: 500; cursor: pointer;"
													th:onclick="'javascript:toggleTaskFragment(' + ${task.id} + ')'"
													th:text="${task.name}">task name</a></td>

												<td style="text-align: center"><span
													th:if="${task.users.empty}" style="font-weight: 400;">Unassigned</span>
													<span style="font-weight: 400;"
													th:each="user : ${task.users}"
													th:text="|${user.firstName} ${user.lastName} |"> </span></td>

												<td style="text-align: center"
													th:if="${task.status == 'ONGOING'}"><span
													class="m-badge m-badge--success m-badge--wide">Open</span></td>
												<td style="text-align: center"
													th:if="${task.status == 'COMPLETED'}"><span
													class="m-badge m-badge--danger m-badge--wide">Closed</span>
												</td>

												<td
													th:if="${#dates.format(task.startDate, 'dd MM yyyy') != '01 02 1970'}"
													style="font-weight: 400; text-align: center"
													th:text="${#dates.format(task.startDate, 'dd-MM-yyyy')}">start
													date</td>

												<td
													th:if="${#dates.format(task.startDate, 'dd MM yyyy') == '01 02 1970'}"
													style="font-weight: 400; text-align: center">Unplanned</td>
												<td
													th:if="${#dates.format(task.endDate, 'dd MM yyyy') != '01 02 1970'}"
													style="font-weight: 400; text-align: center"
													th:text="${#dates.format(task.endDate, 'dd-MM-yyyy')}">end
													date</td>

												<td
													th:if="${#dates.format(task.endDate, 'dd MM yyyy') == '01 02 1970'}"
													style="font-weight: 400; text-align: center">Unplanned</td>

												<td class="m--font-success"
													style="font-weight: 400; text-align: center"
													th:text="${task.completionPercentage + '%'}">progress</td>

												<td style="font-weight: 400; text-align: center"
													th:if="${task.completedOn != null}"
													th:text="${#dates.format(task.completedOn, 'dd MMMM yyyy')}">completed
													date</td>

												<td style="font-weight: 400; text-align: center"
													th:if="${task.completedOn == null}">None</td>

												<td style="text-align: center"
													th:if="${task.priority == 'none'}"><span
													class="m-badge m-badge--metal m-badge--wide">None</span></td>
												<td style="text-align: center"
													th:if="${task.priority == 'low'}"><span
													class="m-badge m-badge--metal m-badge--wide">Low</span></td>
												<td style="text-align: center"
													th:if="${task.priority == 'medium'}"><span
													class="m-badge m-badge--brand m-badge--wide">Medium</span>
												<td style="text-align: center"
													th:if="${task.priority == 'high'}"><span
													class="m-badge m-badge--danger m-badge--wide">High</span>
											</tr>

										</tbody>
									</table>
									<!-- hey -->

								</div>
							</div>
							<script th:inline="javascript">
								/*<![CDATA[*/
								var service_id = /*[[${element.key.id}]]*/'id';

								$("#" + service_id).children('div[name=head]')
										.attr(
												"id",
												"m_accordion_4_item_"
														+ service_id + "_head");
								$("#" + service_id).children('div[name=head]')
										.attr(
												"href",
												"#m_accordion_4_item_"
														+ service_id + "_body");

								$("#" + service_id).children('div[name=body]')
										.attr(
												"id",
												"m_accordion_4_item_"
														+ service_id + "_body");

								$("#" + service_id).children('div[name=head]')
										.attr(
												"aria-labelledby",
												"m_accordion_4_item_"
														+ service_id + "_head");
								/*]]>*/
							</script>
						</div>
						<!--end::Item-->



					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
			<!--     </div> -->
		</div>



	</div>





</div>