.m-project-details-sidebar .m-project-details-sidebar__close {
	position: absolute;
	font-size: 1.4rem;
	cursor: pointer;
}

.m-project-details-sidebar .mCSB_scrollTools {
	right: -13px !important;
}

.m-project-details-sidebar.m-project-details-sidebar--tabbed .m-project-details-sidebar__close
	{
	top: 16px;
	right: 30px;
}

.m-project-details-sidebar.m-project-details-sidebar--tabbed .m-tabs.m-tabs-line
	{
	margin: 0 0 30px 0;
}

.m-project-details-sidebar.m-project-details-sidebar--tabbed .m-tabs.m-tabs-line>.m-tabs__item>.m-tabs__link
	{
	padding: 15px 0;
}

.m-project-details-sidebar {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
	-moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
	box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

.m-project-details-sidebar .m-project-details-sidebar__close {
	color: #cfcedb;
}

.m-project-details-sidebar .m-project-details-sidebar__close:hover {
	color: #716aca;
}

.m-project-details-sidebar.m-project-details-sidebar--skin-dark {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.4);
	-moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.4);
	box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.4);
}

.m-project-details-sidebar.m-project-details-sidebar--skin-dark .m-project-details-sidebar__close
	{
	color: #dfdff1;
}

.m-project-details-sidebar.m-project-details-sidebar--skin-dark .m-project-details-sidebar__close:hover
	{
	color: #716aca;
}

.m-project-details-sidebar-close {
	display: none;
}

.m-project-details-sidebar {
	display: block !important;
	z-index: 1001;
	position: fixed;
	
	right:0;
	left:0;
	overflow-x: auto;
	-webkit-transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	height: 200px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	bottom: -210px;
}

.m-project-details-sidebar.m-project-details-sidebar--on {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	bottom: 0;
}

.m-project-details-sidebar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.1);
	-webkit-animation: m-offcanvas-overlay-fade-in .3s linear 1;
	-moz-animation: m-offcanvas-overlay-fade-in .3s linear 1;
	-ms-animation: m-offcanvas-overlay-fade-in .3s linear 1;
	-o-animation: m-offcanvas-overlay-fade-in .3s linear 1;
	animation: m-offcanvas-overlay-fade-in .3s linear 1;
}

.omnia{
    font-family: 'zohoproj'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fonticon40 {
    font-size: 40px;
    color: #bcbbbb!important;
}

.emptydashboardbox {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 2px solid #bcbbbb;
    width: 100px;
    height: 100px;
    display: inline-block;
    line-height: 100px!important;
    text-align: center;
}

.popover {
   width: 370px !important;
   max-width:370px !important;
}


/* vertical tabs */

.vertical-nav-tabs--vertical {
	
  border-bottom: none;
  border-right: 1px solid #ddd;
  display: flex;
  flex-flow: column nowrap;
}
.vertical-nav-tabs--left {
  margin: 0 15px 0 0;
}
.vertical-nav-tabs--left .nav-item + .nav-item {
  margin-top: 0.25rem;
}
.vertical-nav-tabs--left .nav-link {
  transition: border-color 0.125s ease-in;
  white-space: nowrap;
}
.vertical-nav-tabs--left .nav-link:hover {
  color: #34BFA3;
  border-color: transparent;
}
.vertical-nav-tabs--left .nav-link.active {
	border-bottom: 2px solid #34BFA3;
	border-top-color:#34BFA3 ;
  border-bottom-color: #34BFA3;
  border-right-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  margin-right: -1px;
}
.vertical-nav-tabs--left .nav-link.active:hover {
  
  border-color: #5867DD #fff #5867DD #5867DD;
}

.sites_map{
	position: absolute;
	width:100%!important;
	height:100% !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 280px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: 0px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}


/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		
	}
	
/* ----- Fullscreen Modal -----*/
/*modal fullscreen */

.modal.modal-fullscreen {
  /* Maximize the main wrappers on the screen */
  /* Make the parent wrapper of the modal box a full-width block */
  /* Remove borders and effects on the content */
  /**
	 * /!\ By using this feature, you force the header and footer to be placed
	 * in an absolute position. You must handle by yourself the margin of the
	 * content.
	 */
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 40px;
  position: absolute;
  right: 0;
  top: 35px;
 
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  max-width: 95% !important;
  width: 95% !important;
  animation-duration:0.6s;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
  /* change bg color below */
}
.modal.modal-fullscreen.force-fullscreen {
  /* Remove the padding inside the body */
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}

.swal2-container {
  z-index: 111111111111111111111;
}



